@media screen and (min-width: 450px) {
  .image-1 {
    width: 100%;
    height: 100%;
  }
 
  html {
    scroll-behavior: smooth;
  }
  /*NAVBAR*/
  .nav-list {
    background: white;
    box-shadow: 0px 0px 10px var(--clr-gray200);
    margin: 0;
    padding: 1rem 0;
    border-radius: var(--radius);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    box-shadow: 3px 3px 4px gainsboro;
    letter-spacing: 4px;
    font-family: "Times New Roman", Times, Georgia, serif;
    font-size: 15px;
    z-index: 1;
  }
  * {
    padding: 0;
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  .nav-item {
    list-style: none;
    margin-right: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: black;
  }
  
  .nav-item:first-child {
    margin-right: auto;
    margin-left: 2rem;
  }
  a:hover {
    background: gray;
    opacity: 0.9;
  }
  
  /*HEADER*/
  .le-catering {
    position: absolute;
    bottom: 15px;
    left: 30px;
    color: gray;
    letter-spacing: 4px;
    font-size: 36px;
    font-family: Playfair Display;
    margin: 10px 0px;
  }
  @media screen and (min-width: 450px) {
    .image-1 {
      width: 100%;
      height: 100%;
    }
    .position{
      position: relative;
    }
   
  
  /*BODY*/
  
  .section-container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .image-2 {
    padding-top: 70px;
    padding-left: 150px;
    width: 50wh;
    height: 100vh;
    display: block;
    object-fit: cover;
    object-position: center;
  }
  
  .center {
    text-align: center;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .content-container {
    padding: 12px 24px;
    float: left;
    width: 70%;
  }
  .image-2 {
    filter: opacity(75%);
  }
  .gray-text {
    color: gray;
  }
  
  /*OUR MENU*/
  .foods {
    padding-top: 330px;
    padding-left: 250px;
    font-size: 16-px;
  }
  .saga-al {
    float: right;
    padding-right: 200px;
    filter: opacity(75%);
  }
  #menu {
    padding-top: 140px;
  }
  .our-menu {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  .foods.our-menu {
    font-size: 36px;
  }
  .foods h4 {
    font-size: 20px;
    margin: 10px 0px;
    font-family: "Times New Roman", Times, serif;
  }
  .foods p {
    font-size: 15px;
  }
  
  /*CONTACT*/
  .contact-menu {
    padding-top: 200px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  .form {
    border: none;
    line-height: 25px;
    border-bottom: 1px solid gray;
    width: 80%;
    padding: 16x 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  .buton {
    background-color: gainsboro;
    border: none;
    font-size: 15px;
    color: black;
    padding: 8px 16px;
    margin: 16px 0px;
    cursor: pointer;
  }
  .grey-text {
    color: #607b8b;
  }
  /*FOOTER*/
  .footer {
    background-color: #f1f1f1;
    padding: 32px 0px;
    color: black;
    font-size: 15px;
    text-align: center;
  }